.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
}

.middle-container {
    display: flex;
    gap: 2em;
}

.nav-bar {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.brand-name {
    font-size: 2em;
    font-weight: bold;
}
